/* Global Variables */

:root {
  --vintage-grape: #56445d;
  --lilac-ash: #aba2ae;
}

html {
  font-family: "Fira Code", "JetBrains Mono", "Source Code Pro", "Ubuntu Mono",
    monospace;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--vintage-grape);
  color: white;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-right {
  display: flex;
  justify-content: right;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}
