@import "./global.css";
@import "./animation.css";

.login-page {
  min-height: 100dvh;
}

.login-input {
  background-color: transparent;
  border: 0;
  outline: 0;
  caret-color: white;
  color: white;
  font-size: 1rem;
  width: 8em;
}

.login-error {
  color: var(--error);
  animation: skew-x-shaking 2s ease forwards;
}

.login-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border: 1px solid white;
  padding: 10px;
}

.input-container {
  display: flex;
  gap: 10px;
}

.login-button {
  background-color: var(--vintage-grape);

  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  border: none;

  margin: 0;
  padding: 0 10;

  cursor: pointer;
  position: absolute;
}

.login-button:focus-visible {
  outline: 1px solid white;
}
